@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,800,300);

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', Verdana, sans-serif;
}

.ultimate-wrapper {
  width: 100%;
}

.header {
  width: 960px;
  margin: 0 auto;
}

.main-logo {
  height: 115px;
  display: inline-block;
  line-height: 115px;
}

.logo {
  vertical-align: middle;
}

.main-menu {
  float: right;
}

.menu-link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #989898;
  display: inline-block;
  height: 115px;
  line-height: 115px;
  vertical-align: middle;
  padding: 0 15px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-right: -5px;
}

.menu-link:last-child {
  margin-right: 0;
}

.menu-link_active,
.menu-link:hover {
  color: #3070a8;
  border-bottom: 4px solid #3070a8;
}


.presentation {
  background: transparent url(banner.png) center center no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 140px 0 100px;
}

.first-row {
  font-size: 36px;
  font-weight: 300;
}

.second-row {
  font-size: 48px;
  font-weight: 800;
  text-transform: uppercase;
  display: block;
}

.presentation-main-row {
  width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.presentation-secondary-row {
  font-size: 20px;
  font-style: italic;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.presentation-button {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 65px;
  border: 1px solid white;
  background-color: transparent;
  border-radius: 4px;
  color: white;
  text-transform: uppercase;
}

.presentation-button:hover {
  transition: background 0.5s ease;
  background-color: #309bf2;
}

.pricewrapper{
  width: 100%;
  text-align: center;
  height: 700px;
}

.pricewrapper>h1 {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 28px;
  font-weight: 600;
  padding-top: 40px;
  color: #41525c;
}

.container {
  display: inline-block;
  width: 290px;
  height: 500px;
  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  margin-left: -2px; /*сдвинул контейнеры вместе, без этого вообще никак*/
  margin-right: -2px;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  font-family: 'Trebuchet MS';
  vertical-align: middle;
  z-index: 1;
}

.container.middle {
  border: 4px solid;
  border-color: #EE8129;
  border-radius: 4px;

}

.container>h1 {
  background-color: #EE8129;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}

.container>h2 {
  text-transform: uppercase;
  text-align: center;
  color: #35495A;
}

.price {
  text-align: center;
}

.price span {
  display: inline-block;
  margin: 0 auto;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  color: #35495A;
  text-align: center;
  position: relative;
}

.price span::before {
  content: '$';
  font-size: 22px;
  vertical-align: top;
}

.price span::after {
  content: 'Monthly';
  font-size: 18px;
  vertical-align: bottom;
}

.table {
  text-align: justify;
  margin-top: 20px;
  width:260px;
  margin-left: 19px;
  margin-top: 28px;
  font-family: 'Trebuchet MS';
}

.container ul {
    list-style-type:none;
    padding: 0;
    color: #888c94;
}

.container li {
    padding: 7px 5px 7px 30px;
	 border-bottom: 1px solid white;
}

.container li:nth-child(odd) {
    background-color: #edf5fd;
}
.container li:nth-child(even) {
    background-color: #f5f5f6;
}

.container li::before {
    content: url(check.png);
    margin-right: 10px;
}

.container>button {
  background-color: #EE8129;
  border:none;
  padding: 12px 75px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 3px 0 #B56524;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
}

.container.button2:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}

.container.right,
.container.left {
  width: 290px;
  height: 470px;
  z-index: 0;
}

.container.right>h1,
.container.left>h1 {
  background-color: #37C2D3;
  width: 100%;
  border-radius: 1px solid;
  border-color: grey;
  text-align: center;
  margin: 0;
  padding: 12px 0;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
}

.container.right>h1 {
  background-color:#1CB79A;
}

.container.right>button,
.container.left>button {
  background-color: #3371A6;
  box-shadow: 0 3px 0 #16436A;
}

.container.middle>button:active,
.container.right>button:active,
.container.left>button:active {
    position: relative;
    top: 3px;
    box-shadow: none;
}

.container.right>button:hover,
.container.left>button:hover {
  background-color:#4f90c9;
}

.container.middle>button:hover{
  background-color: #EF9D5A;
}

.super-container {
  width: 100%;
  text-align: center;
}

.container-testimonies {
  width: 100%;
  height: 315px;
  margin: 0 auto;
  background-image: url(background.png);
}

.subcontainer-testimonies {
  width: 960px;
  height: 95px;
  text-align: center;
  margin: 0 auto;
}

.container-testimonies h1 {
  color: #3170A8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 34px;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}

.container-testimonies h1>span {
  color: #ED8029;
  font-weight: lighter;
}

/**/

.firstClient img {
    float: left;
}

.secondClient img {
    float: left;
}

.firstClient {
    width: 470px;
    float: left;
    display: inline-block;
}

.secondClient {
  width: 470px;
  float: right;
  display: inline-block;
}

.comments_lady {
    position: relative;
    padding: 5px;
    display: inline-block;
    height: 80px;
    width: 364px;
    border: 1px solid #fff;
    margin-left: 10px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-color: #fff;
    font-weight: 600;
}

.comments_man {
    position: relative;
    padding: 5px;
    display: inline-block;
    height: 80px;
    width: 364px;
    border: 1px solid #fff;
    margin-left: 10px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    background-color: #fff;
    font-weight: 600;
}

.staciya {
    float: left;
    color: #3d79ad;
    font-style: italic;
    padding-bottom: 8px;
}
.staciya_customer {
    float: right;
    color: #3d79ad;
    font-style: italic;
    padding-right: 6px;
    padding-bottom: 8px;
}

.david {
    float: left;
    color: #3d79ad;
    font-style: italic;
    padding-bottom: 8px;
}

.david_customer {
    float: right;
    color: #3d79ad;
    font-style: italic;
    padding-bottom: 8px;
    padding-right: 6px;
}

.staciya_says {
    clear: both;
    border-top: 1px dashed #838383;
    color: #838383;
    padding-top: 4px;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 12px;
}

.david_says {
    clear: both;
    border-top: 1px dashed #838383;
    color: #838383;
    padding-top: 4px;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 12px;
}



.comments_lady::before,
.comments_man::before {
  border: 15px solid;
  content: ' ';
  border-color: transparent #fff transparent transparent;
  display: block;
  position: absolute;
  left: -30px;
  top: 25px;
}

.threecolumns {
  width: 100%;
  height: 565px;
  text-align: center;
  display: inline-block;
}

.threecolumns>h1 {
  font-size: 29px;
  text-transform: uppercase;
  font-family: 'Open Sans', Verdana, sans-serif;
  font-weight: 600;
  color: #41525c;
  padding-top: 40px;
  padding-bottom: 40px;
}

.column {
  width: 320px;
  height: 400px;
  display: inline-block;
}

.column>img {
  padding: 20px;
  margin: 0 auto;
}

.column>h2 {
  font-family: 'Open Sans', Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: normal;;
  font-size: 30px;
  color: #3070a8;
}

.column>p {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 14px;
  color: #999999;
  line-height: 2em;
  padding: 5px;
}

.midblock {
  width: 100%;
  height: 570px;
  background: transparent url(back-2.png) center center no-repeat;
  margin-top: 50px;
  background-size: cover;
  color: #fff;
  position: relative;
  display: block;
  overflow: hidden;
}

.holder {
  width: 960px;
  margin: 0 auto;
}


.midblock-subcontainer {
  height: 440px;
  width: 660px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  float: left;
}

.midblock-subcontainer>h1 {
  font-family: 'Open Sans', Verdana, sans-serif;
  text-transform: uppercase;
  font-size: 26px;
  color: #ee8129;
  font-weight: normal;
  text-align: left;
}

.midblock-subcontainer>h2 {
  font-family: 'Open Sans', Verdana, sans-serif;
  font-style: italic;
  font-weight: normal;;
  font-size: 18px;
  color: #ffffff;
  text-align: left;
  padding-bottom: 30px;
}

.midblock-subcontainer ul {
  list-style-image: url(bullet-grey.png);
  height: auto; /*чтобы при зуме нормально ресайзилось*/
}

.midblock-subcontainer ul li:nth-child(2) {
  list-style-image: url(bullet-blue.png);
  color: #3070a8;
}

.midblock-subcontainer li {
  line-height: 2em;
  font-size: 14px;
  color: #9d9d9d;
  padding: 10px;
}

/*.midblock-subcontainer li::before { - неудачная попытка сделать буллетпойнты
    content:"·";
    font-size:120px;
    vertical-align:middle;
    line-height:20px;
    color: #9d9d9d;
}*/

.slipper {
    position: relative;
    width: 960px;
    margin: 0 auto;
    padding: 0;

}
.box_with_contact {
    position: relative;
    display: inline-block;
    width: 460px;
    height: 345px;
    left: 0;
    font-family: "OpenSans", sans-serif;
    font-size: 14px;
    color: #666666;
    padding-top: 25px;
    line-height: 32px;
    padding-left: 10px;
}
.box_with_contact li {
    list-style-type: none;
}

.first_one li {
    padding-left: 60px;
}

.with_mark1 {
    background: url(mark1.png) left center no-repeat;
    overflow: visible;
}
.second_one {
   line-height: 26px;
   margin-top: -10px;
}
.with_mark2 {
    background: url(mark2.png) left center no-repeat;
    padding-left: 60px;
}
.with_mark3 {
    background: url(mark3.png) left center no-repeat;
    padding-left: 60px;
    margin-top: 10px;

}
.with_mark3 a {
   text-decoration: none;
    color: #666666;
}

iframe {
   float: right;
   width: 50%;
   height: 350px;
   margin: 0;
   padding: 0;
}

.network {
   margin-top: 10px;
   word-spacing: 20px;
   margin-left: 50px;
}


footer {
    width: 100%;
    margin: 0 auto;
    margin-top: -20px;
    background: #3070a8 url(footer.png) repeat-y;
}

.footer-subcontainer {
    width: 960;
    margin: 0 auto;
    padding: 0;

}

footer p {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 100;
  line-height: 27px;
}

footer span.company_name {
  font-weight: 700;
}

footer a {
  text-decoration: none;
    font-weight: 700;
}

footer a:link {
  color: #000;
}

footer a:visited {
  color: #900060;
}

footer a:active {
  color: #b3560b;
}
