.wrapper{
  width: 100%;
  text-align: center;
}

.container {
  width: 300px;
  height: 500px;
  border: 4px solid;
  border-color: #EE8129;
  border-radius: 4px;
  position: relative;
  margin: 0 auto;
  margin-top: 7%;
  box-shadow: 0 0 5px rgba(0,0,0,0.7);
  font-family: 'Trebuchet MS';
}

h1 {
  background-color: #EE8129;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  text-transform: uppercase;
  color: white;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  color: #35495A;

}

.price {
  text-align: center;
}
.price span {
  display: inline-block;
  margin: 0 auto;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  color: #35495A;
  text-align: center;
  position: relative;
}
.price span::before {
  content: '$';
  font-size: 25px;
  vertical-align: top;
}
.price span::after {
  content: 'Monthly';
  font-size: 20px;
  vertical-align: bottom;
}

.dollarsign {
  vertical-align: top;
  font-size: 20px;
}

.term {
  vertical-align: sub;
  font-size: 20px;
  font-weight: lighter;
}

.table {
  text-align: justify;
  margin-top: 20px;
}

ul {
    list-style-type:none;
    padding: 0;
    color: #888c94;
}
li {
    padding: 7px 5px 7px 30px;
	 border-bottom: 1px solid white;
}

.table {
    width:260px;
    margin-left: 19px;
    margin-top: 28px;
    font-family: 'Trebuchet MS';
}
li:nth-child(odd) {
    background-color: #edf5fd;
}
li:nth-child(even) {
    background-color: #f5f5f6;
}
li::before {
    content: url(check.png);
    margin-right: 10px;
}
button {
  background-color: #EE8129;
  border:none;
  padding: 12px 50px;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 0 #B56524;
  outline: none;
  cursor: pointer;
  transition: background 0.2s ease;
}
button:hover {
  background-color: #EF9D5A;
}
button:active {
  position: relative;
  top: 3px;
  box-shadow: none;
}
