

body {
  width:600px;
  margin-left: 20%;
}

h1 {
  color: #FFA600;
  text-align: right;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-family: Times New Roman;
}

p:first-letter {
  font-size: 30px;
  color: #FF0000;
  font-weight: bold;
}

p em {
  font-weight: bold;
  color: #F7FFFF;
  background-color: #3C8709;
  font-size: 0.85em;
}

h2 {
  color: #0000FF;
}

ul>li{
  font-weight: bold;
}

#allotment h2:first-child {
  color: #FFA600;
}

#allotment .fruits-list:nth-of-type(1) {
  color: #97A39B;
  font-weight: normal;
}

#allotment .vegetables-list:nth-of-type(1) {
  color: #FF0000;
  font-weight: normal;
}

#warehouse .fruits-list:nth-of-type(1) {
  color: #008100;
  font-weight: normal;
}

#warehouse .vegetables-list:nth-of-type(1) {
  color: #FF0000;
  font-weight: normal;
}

thead {
  font-weight: bold;
  text-align: center;
}

.students-table>tbody>tr>td:first-of-type {
  color:#FFA600;
}

.students-table>tbody>tr>td:nth-of-type(n+2) {
  background-color: #008100;
  color: #F7FFFF;
  text-align: center;
}
