a[href$=".ru"]{
    color:#f70;
}

a[href*="google"] {
    color:#666;
}

a[target="_blank"]:after {
     content: "\21F1";
     text-decoration: none; /* должно убрать подчеркивание, но нет! color, к примеру, работает!*/
}
