.menutop {
   width: 100%;
   background: #A64DFF;
   margin-top: 18px;
   box-shadow: 0 0 3px rgba(50, 0, 0, 0.5);
}

.menutop ul {
   list-style-type: none;
  margin: 0 auto;
   padding: 0;
   width: 900px;
}
.menutop li {
   display: block;
   float: left;
   font-family: Impact;
   font-size: 20px;
   padding: 6px 0;
}

.menutop li a {
   text-decoration: none;
   color: white;
   padding: 6px 20px;
}
.menutop li a:hover {
   background-color: #EEEEEE;
   color: #9FA1A7;
}
ul li:last-child {
   float: right;
}
